USE [master]
GO
/****** Object:  Database [Events]    Script Date: 14.04.2023 0:31:22 ******/
CREATE DATABASE [Events]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Events', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Events.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Events_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Events_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Events].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Events]
GO
/****** Object:  Table [dbo].[Direction]    Script Date: 14.04.2023 0:31:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Direction](
	[DirectionId] [int] NOT NULL,
	[DirectionName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Direction] PRIMARY KEY CLUSTERED 
(
	[DirectionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Event]    Script Date: 14.04.2023 0:31:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Event](
	[EventId] [int] NOT NULL,
	[EventName] [nvarchar](200) NOT NULL,
	[EventDirection] [int] NOT NULL,
	[EventDate] [date] NOT NULL,
	[EventTime] [time](5) NOT NULL,
	[EventDuration] [int] NOT NULL,
	[EventPhoto] [image] NULL,
 CONSTRAINT [PK_Event] PRIMARY KEY CLUSTERED 
(
	[EventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gender]    Script Date: 14.04.2023 0:31:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gender](
	[GenderId] [int] NOT NULL,
	[GenderName] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_Gender] PRIMARY KEY CLUSTERED 
(
	[GenderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 14.04.2023 0:31:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleId] [int] NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 14.04.2023 0:31:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserNumberId] [int] IDENTITY(1,1) NOT NULL,
	[UserRole] [int] NOT NULL,
	[UserLastName] [nvarchar](50) NOT NULL,
	[UserFirstName] [nvarchar](50) NOT NULL,
	[UserPatronymic] [nvarchar](50) NULL,
	[UserGender] [int] NOT NULL,
	[UserPhone] [char](18) NULL,
	[UserEmail] [nvarchar](150) NULL,
	[UserBirthday] [date] NOT NULL,
	[UserPassword] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserNumberId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Direction] ([DirectionId], [DirectionName]) VALUES (1, N'Спорт')
INSERT [dbo].[Direction] ([DirectionId], [DirectionName]) VALUES (2, N'Музыка')
GO
INSERT [dbo].[Event] ([EventId], [EventName], [EventDirection], [EventDate], [EventTime], [EventDuration], [EventPhoto]) VALUES (2, N'Музыкальный конкурс молодых испольнителей', 2, CAST(N'2023-05-10' AS Date), CAST(N'12:00:00' AS Time), 120, NULL)
INSERT [dbo].[Event] ([EventId], [EventName], [EventDirection], [EventDate], [EventTime], [EventDuration], [EventPhoto]) VALUES (3, N'Турнир уличного футбола', 1, CAST(N'2023-04-12' AS Date), CAST(N'15:30:00' AS Time), 120, NULL)
GO
INSERT [dbo].[Gender] ([GenderId], [GenderName]) VALUES (1, N'Женский')
INSERT [dbo].[Gender] ([GenderId], [GenderName]) VALUES (2, N'Мужской')
GO
INSERT [dbo].[Role] ([RoleId], [RoleName]) VALUES (1, N'организатор')
INSERT [dbo].[Role] ([RoleId], [RoleName]) VALUES (2, N'участник')
INSERT [dbo].[Role] ([RoleId], [RoleName]) VALUES (3, N'модератор')
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserNumberId], [UserRole], [UserLastName], [UserFirstName], [UserPatronymic], [UserGender], [UserPhone], [UserEmail], [UserBirthday], [UserPassword]) VALUES (1, 1, N'Степанова', N'Радинка', N'Власовна', 1, N'+7 (613) 272-60-62', N'Radinka100@yandex.ru', CAST(N'1986-10-18' AS Date), N'b3uWS6#Thuvq')
INSERT [dbo].[User] ([UserNumberId], [UserRole], [UserLastName], [UserFirstName], [UserPatronymic], [UserGender], [UserPhone], [UserEmail], [UserBirthday], [UserPassword]) VALUES (2, 2, N'Шилов', N'Прохор', N'Герасимович', 2, N'+7 (615) 594-77-66', N'Prohor156@list.ru', CAST(N'1977-10-09' AS Date), N'zDdom}SIhWs?')
INSERT [dbo].[User] ([UserNumberId], [UserRole], [UserLastName], [UserFirstName], [UserPatronymic], [UserGender], [UserPhone], [UserEmail], [UserBirthday], [UserPassword]) VALUES (3, 2, N'Кононов', N'Юрин', N'Романович', 2, N'+7 (784) 673-51-91', N'YUrin155@gmail.com', CAST(N'1971-10-08' AS Date), N'u@m*~ACBCqNQ')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[Event]  WITH CHECK ADD  CONSTRAINT [FK_Event_Direction] FOREIGN KEY([EventDirection])
REFERENCES [dbo].[Direction] ([DirectionId])
GO
ALTER TABLE [dbo].[Event] CHECK CONSTRAINT [FK_Event_Direction]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Gender] FOREIGN KEY([UserGender])
REFERENCES [dbo].[Gender] ([GenderId])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Gender]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([UserRole])
REFERENCES [dbo].[Role] ([RoleId])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
USE [master]
GO
